<html>
    <head>
        <title>Shopping List App</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
             
    </head>

    <style type="text/css">
        .strikethrough {
            text-decoration: line-through;
        }

        .priority {
            color: red ;
        }
    </style>

    <body>
        <div id="shopping-list">
            <div class="header">
                    <h1>{{ header.toLocaleUpperCase() }}</h1>
                    <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                    <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div> 
            
            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
                <p>{{ characterCount }}//200</p>
                <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
            </div>
            <!-- <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
            <ul>
                <!-- mustache {{}} berfungsi untuk menampilkan data, (?) nilai true (:) nilai false-->
                <li style="cursor:pointer" v-for="item in reversedItems" :class="{strikethrough : item.purchased}" @click="togglePurchased(item)" >{{ item.label }}</li> 
            </ul>
            <p v-if="items.length === 0">Nice Job!</p>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://unpkg.com/vue"></script>
        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem:'',
                    items: [
                        {
                            label: '10 party hats',  
                            purchased: false,
                            highPriority: false,
                        },
                        {
                            label: '2 board games',
                            purchased: true,
                            highPriority: false,
                        },
                        {
                            label: '20 cups',
                            purchased: false,
                            highPriority: true,
                        },
                    ]
                },
                computed: {
                    characterCount() {
                        return this.newItem.length;
                    },
                    reversedItems() {
                        return this.items.slice(0).reverse();
                    }
                },
                methods: {
                    saveItem: function() {
                        this.items.push({
                            label: this.newItem,
                            purchased: false,
                        }, );
                        this.newItem = '';
                    },
                    changeState: function(newState) {
                        this.state = newState;

                        this.newItem = '';
                    },
                    togglePurchased: function(item) {
                        item.purchased = !item.purchased;
                    }
                }
            });
        </script>
    </body>
</html>